@media(max-width : 84em){
     .hero{
        max-width: 120rem;
     }
     .heading-primary{
        font-size: 4.4rem;
     }
     .testimonial-gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 75em){
html{
    font-size : 56.25%;
}
.grid{
    column-gap: 4.8rem;
    row-gap: 6.4rem;
}
.heading-secondary{
    font-size : 3.6rem;
}
.heading-teritary{
    font-size : 2rem;
}
.hero-description{
    font-size: 1.6rem;
}
#testimo{
    padding: 4rem 0;
    margin: 0 4rem;
}
}
@media(max-width: 60em){
    html{
        font-size : 48%;
    }
    .hero{
        grid-template-columns: 1fr;
        max-width: 90em;
        gap: 4.3em;

    }
    .hero-img{
        width: 60%;
    }
    .hero-text-box{
        text-align: center;
    }
    .hero-img-box{
        text-align: center;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 4em;
    }
    .hero-description{
        margin-bottom: 2em;
    }
    .logos img{
        height: 2.2em;
    }
    .step-number{
        font-size: 5em;
    }
    .step-description{
        font-size: 1.7em;
        font-weight: 400;
    }
    .meal-content{
    padding: 2em 2em 2em 2em;
    }
    .meals-title{
    font-size: 2em;
    margin-bottom: 1.5em;
    }
    .tag{
    font-size: 0.8em;
    }
    .section-testimonials{
    grid-template-columns: 1fr;
    }
    .gallery-item img{
    width: 100%;
    }
    .testimonial-gallery{
    grid-template-columns: repeat(6,1fr);
    }
    .callToAction{
        grid-template-columns: 3fr 2fr;
    }
}
@media(max-width: 50em){
    .form{
        grid-template-columns: 1fr;
        row-gap: 1.5em;
    }
    .callToAction-textBox .callToAction-text{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .heading-secondary{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1em;
    }
    .form label{
        margin-bottom: 0.5em;
    }     
    .footer-nav a{
    font-size: 1.3rem;
    } 
    address{
        font-size: 1.3rem;
    }
    .btn-mobile-nav{
        display: block ;
    }
    .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(10px); /*safari il ee feature work avula so work avanam engil ingane kodukanam*/
        backdrop-filter: blur(5px); /*To blur the background of the navbar*/
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        opacity: 0; /* display : none enn kodutal transitions work avula so opacity : 0 enn kodukunath ane better for showcasing transitions */ 
        pointer-events: none; /* even aa element hidden anengi kude aa element aa page il indavum so ingane set cheyutha keyboard and mouse vech unaccessible akan pattum */
        visibility: hidden; /* hiding from screen readers */
        transform:translateX(100%) ;
    }
    .main-nav-list{
        flex-direction: column;
        gap: 3.5rem;
    }
    .main-nav-link:link,.main-nav-link:visited{
        font-size: 3rem;
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-circle-outline"]{
        display: block;
    }
    .nav-open .icon-mobile-nav[name="grid-outline"]{
        display: none;
    }
    .pricing-plan{
        width: 100%;
    }
}

@media(max-width : 44em){
    .grid--3-cols{
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
    }
    .grid--4-cols{
        grid-template-columns: repeat(2,1fr);
    }
    .diets{
        grid-column: 1/-1; /*To make the diet container to occupy the full width ( 1 / -1) and to make it center*/
        justify-self: center;
    }
    .grid-5-cols{
        grid-template-columns: repeat(6,1fr);
        gap: 6rem;
    }
    .logo-col, .address-col{
        grid-row: 2;
        grid-column:span 3 ; /*6 ayitt split cheyuthitt enitt 3 vech randinum divide cheyuth kodukkum*/
    }
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
    }
}

@media(max-width: 37em) {
    .grid{
        row-gap: 4.8rem;
    }
    .grid--2-cols{
        grid-template-columns: 1fr;
    }
    .grid--3-cols{
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    .grid--4-cols{
        grid-template-columns: 1fr;
    } 
    .hero{
        padding: 0 3rem;
    }
    .btn-right{
        margin-top: 1em;
    }
    .hero-img{
        width: 80%;
    }
    .logos img{
        height: 1.1rem;
    }
    .section-how{
        padding: 3rem  ;
    }
    .section-hero{
        padding: 2.3rem 0;
    }
    .icon-mobile-nav{
        height: 3rem;
        width: 3rem;
    }
    .btn,
    .btn:link,.btn:visited{
    padding: 2.2rem 1.4rem;
    }
    .step-image-box:nth-child(2){  /*step iamge ane sherikinum ee class name varuna 1st class, but parent container ane nokka not that class element containing class name eventhough we are taking that name*/
        grid-row: 1;
    }
    .step-image-box:nth-child(6){
        grid-row: 5;
    }
    .step-image-box{
        transform: translateY(3em);
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .testimonial-gallery{
        grid-template-columns: repeat(4,1fr);
        gap: 0.8rem;
    }
    .callToAction{
        grid-template-columns: 1fr;
    }
    .pricing-plan-complete::before{
        top: 5%;
        right: -5%;  
        font-size: 1rem;
    }
}

/* THIS CODE SHOULD BE INCLUDED , IT IS TO SUPPORT THE GRID PROPERTY IN SAFARI BROWSERS WHICH HAS SOME PROBLEM WITH GRID GAP */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 4.8rem;
  }
  
  .no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  
  .no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .meal-attribute:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
  }
  
  .no-flexbox-gap .social-links li:not(:last-child) {
    margin-right: 2.4rem;
  }
  
  .no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  
  @media (max-width: 75em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
  
  @media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.8rem;
    }
  }

/*caniuse.com be be used to check the working of different features in different browsers eg: flex, grid, backdop-filter ...*/